---
import Home from '../layouts/Home.astro';
import Form from '../components/Form.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
		/>

		<title>JWT Admin Panel</title>
	</head>
	<body>
		<Home>
			<Form />
		</Home>
	</body>
	<script
		is:inline
		type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</html>
